<div class="w-full h-screen overflow-hidden">
  <header class="w-full flex flex-nowrap items-center h-[60px] px-7 bg-primary">
    <section class="w-56 h-10">
      <button
        mat-fab
        (click)="drawer.toggle()"
        aria-label="Example icon button with a bookmark icon"
        style="
          color: white;
          background-color: transparent;
          box-shadow: none;
          width: fit-content;
          height: fit-content;
          padding: 12px 10px;
        "
      >
        <img src="../assets/SVG/menu.svg" alt="" width="23" height="15" />
      </button>
    </section>
    <nav class="w-full flex flex-nowrap justify-between items-center px-7">
      <p class="h-fit w-fit text-white font-[500] text-2xl">Historique</p>
      <div class="flex items-center gap-8">
        <img src="../assets/SVG/icon-27.svg" alt="" class="w-6 h-6" />
        <div class="flex items-center gap-1">
          <img src="../assets/SVG/icon-28.svg" alt="" class="w-9 h-9" />
          <p class="h-fit text-white">Admin</p>
        </div>
      </div>
    </nav>
  </header>

  <mat-drawer-container [hasBackdrop]="false" class="w-full h-full">
    <mat-drawer #drawer [mode]="'side'" opened class="w-56 h-full">
      <div
        class="w-full h-fit flex flex-col items-start justify-start space-y-8 py-5 pl-8"
      >
        <img src="../assets/SVG/icon_logo BWS.svg" alt="" class="w-36" />

        <a
          routerLink="/dashboard"
          [ngClass]="
            isActive('/dashboard')
              ? 'text-primary flex gap-3'
              : 'text-[#b9b9b9] flex gap-3'
          "
        >
          <img
            [src]="
              isActive('/dashboard')
                ? '../assets/SVG/icon-01.svg'
                : '../assets/SVG/icon-02.svg'
            "
            alt=""
            class="w-5 h-5"
          />
          <span>Tableau de board</span>
        </a>
        <a
          routerLink="/dashboard/history"
          [ngClass]="
            isActive('/dashboard/history')
              ? 'text-primary flex gap-3'
              : 'text-[#b9b9b9] flex gap-3'
          "
        >
          <img
            [src]="
              isActive('/dashboard/history')
                ? '../assets/SVG/icon-03.svg'
                : '../assets/SVG/icon-04.svg'
            "
            alt=""
            class="w-5 h-5"
          />
          <span>Historique</span>
        </a>
        <a
          routerLink="/dashboard/map"
          [ngClass]="
            isActive('/dashboard/map')
              ? 'text-primary flex gap-3'
              : 'text-[#b9b9b9] flex gap-3'
          "
        >
          <img
            [src]="
              isActive('/dashboard/map')
                ? '../assets/SVG/icon-05.svg'
                : '../assets/SVG/icon-06.svg'
            "
            alt=""
            class="w-5 h-5"
          />
          <span>Map</span>
        </a>
        <a
          routerLink="/dashboard/alert"
          [ngClass]="
            isActive('/dashboard/alert')
              ? 'text-primary flex gap-3'
              : 'text-[#b9b9b9] flex gap-3'
          "
        >
          <img
            [src]="
              isActive('/dashboard/alert')
                ? '../assets/SVG/icon-07.svg'
                : '../assets/SVG/icon-08.svg'
            "
            alt=""
            class="w-5 h-5"
          />
          <span>Alerte</span>
        </a>
      </div>
    </mat-drawer>

    <mat-drawer-content class="h-full">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
