<div class="bg-[#EBEBEB] flex items-center py-2 gap-3 px-5">
    <img
      src="../../../assets/SVG/icon-22.svg"
      alt=""
      class="rounded-full shadow-buttons w-9"
    />
    <p class="text-lg text-primary font-[500]">Nouvelle pompe</p>
  </div>
  <form class="p-5">
    <div class="w-full flex items-center">
      <label class="w-28 font-[600]" for="id">Identifiant</label
      ><input type="text" name="" id="id" class="w-80 border-b outline-none" />
    </div>
    <div class="w-full flex items-center mt-3">
      <label class="w-28 font-[600]" for="capacity">Capacité (m&#179;)</label
      ><input type="text" name="" id="capacity" class="w-80 border-b outline-none" />
    </div>
    <div class="w-full flex items-center mt-3">
      <label class="w-28 font-[600]" for="nature">Nature</label
      ><input type="text" name="" id="nature" class="w-80 border-b outline-none" />
    </div>
    <div class="w-full flex items-center mt-3">
      <label class="w-28 font-[600]" for="site">Site</label
      ><input type="text" name="" id="site" class="w-80 outline-none" />
    </div>
    <div class="flex items-center gap-3 justify-end mt-8">
      <button class="px-2.5 py-1 font-[500] shadow-copy rounded bg-[#CBCBCB]" matDialogClose>Annuler</button>
      <button class="px-2.5 py-1 font-[500] shadow-copy rounded bg-[#FFD006]">Confirmer</button>
    </div>
  </form>
  